                   /***********************Main Bar Start***********************/
.main{
	background-color: #316DC3;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icon{
	display: flex;
	align-items: center;
	margin-left: 40px;
}

.icon a i{
	margin-left: 15px;
}

.icon a i:hover{
	color: white;
}

.button{
	margin-right: 30px;
}

.main button{
	height: 30px;
	cursor: pointer;
	color: #6A8C9F;
	margin-top: 10px;
}

.main p{
	text-align: center;
	color: white;
	font-family: arial;
	margin-left: 80px;
}
                 /***********************Main Bar End***********************/

                 /***********************Nav Bar Start***********************/

.nav ul{
	float: right;
	margin-right: 20px;
}

.nav img{
	width: 200px;
	height: 60px;
	float: left;
	margin-left: 3%;
}

.nav ul li{
	display: inline-block;
	cursor: pointer;
	font-family: arial;
	font-size: 15px;
	padding: 14px 16px;
}

.nav ul li a{
	text-decoration: none;
	color: black;
}

.nav ul li a:hover{
	color: white;
	background-color: #316DC3;
	border-radius: 18px;
	padding: 10px 20px;
}

..nav li.active a{
	border: 1px solid white;
	border-radius: 18px;
	color: #316DC3;
}
                   /***********************Nav Bar End***********************/

                   /***********************Slider Start***********************/


.slider img{
	width: 100%;
}

                   /***********************Slider End***********************/

                   /***********************Marquee Start***********************/

.mar{
	margin-right: 10%;
	margin-left: 10%;
}

.mar p{
	color: white;
	font-size: 15px;

}
                    /***********************Marquee End***********************/

                    /***********************Introduction Start***********************/

@font-face{
	font-family: 'Roboto Slab';
	src: url('css/RobotoSlab-SemiBold.ttf');
}

h1{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	color: #316DC3;
}

h1 span{
	color: #427900;
}

.intro{
	margin-left: 14%;
	width: 72%;
}

.intro p{
	font-size: 15px;
	font-family: arial;
	color: grey;
	text-align: justify;
	line-height: 25px;
} 
                       /***********************Introduction End***********************/

                       /***********************Working Projects Start***********************/

.one{
	background-color: #2755E9;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-between;
	height: 250px;
	color: white;
	font-family: constantia;
	padding: 50px;
	font-weight: bold;
}

.one h2{
	font-size: 50px;
}

.one p span{
	color: #00FF00;
	font-size: 20px;
}

img{
	width: 90px;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

.one i{
	color: black;
	margin-top: 10px;
}


                           /***********************Working Projects End***********************/

                           /***********************What We Are Doing Start***********************/

.box{
	display: flex;
	flex-direction: column;
}

.work{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 50px 0px 50px;
}

.two{
	border: 1px solid white;
	box-shadow: 3px 3px 3px 3px #DEDFE0;
	width: 390px;
	height: 200px;
	text-align: center;
}

.two img{
	padding-top: 20px;
}

.two h2{
	color: #4B7FCB;
	font-family: 'Roboto Slab';
}
                    /***********************What We Are Doing End***********************/

                    /***********************Mission and Upcoming Start***********************/

.proj{
	display: flex;
	flex-direction: row;
}

.mission{
	width: 70%;
}

.mission h1{
	text-align: left;
	padding-left: 55px;
	font-family: 'Roboto Slab';
}

.three{
	border: 1px solid white;
	box-shadow: 3px 3px 3px 3px #DEDFE0;
	width: 400px;
	height: 80px;
}

.three img{
	width: 30px;
	position: absolute;
	margin-left: 15px;
	margin-top: 20px;
}

.three h2{
	color: #316DC3;
	margin-left: 70px;
	font-family: 'Roboto Slab';
}

.event h1{
	text-transform: capitalize;
}

                         /***********************Mission and Upcoming End***********************/

                         /***********************Image Gallery Start***********************/

.column{
	width: 60%;
	margin: 0 auto;
}

.column img{
	width: 260px;
}

                        /***********************Image Gallery End***********************/

                        /***********************Footer Start***********************/

.footer{
	background-color: #25272E;
	width: 100%;
	height: 80%;
	padding: 40px 0px 40px 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer h3{
	color: white;
}

.footer p{
	color: #828385;
	font-family: arial;
}

.footer p i{
	color: green;
}

.ter{
	padding: 5px;
	background-color: #316DD9;
	color: white;
}

.ter p{
	margin-left: 9%;
	font-family: arial;
	font-size: 13px;
}
                        /***********************Footer End***********************/